{% extends 'base.html' %}

{% block content %}



{% if user.is_authenticated %}

<div class="container">
  <br/>
<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">
      </th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zipcode</th>
      <th scope="col">Created At</th>
      <th scope="col">ID</th>
    </tr>
  </thead>
  <tbody>
    
{% if Animals %}
	{% for Animal in Animals %}
		<tr>
			<td>{{ Animal.first_name }} {{ Animal.last_name }}</td>
			<td>{{ Animal.email }}</td>
			<td>{{ Animal.phone }}</td>
			<td>{{ Animal.address }}</td>
			<td>{{ Animal.city }}</td>
			<td>{{ Animal.state }}</td>
			<td>{{ Animal.zipcode }}</td>
			<td>{{ Animal.created_at }}</td>
			<td><a href="{% url 'Animal' Animal.id %}">{{ Animal.id }}</a></td>
		</tr>
	{% endfor %}
</div>
{% endif %}

	
	  </tbody>
	</table>





{% else %}

    <!-- Imagem de fundo -->
    <div class="bg-image">
      <img class="img-fluid" src="https://images.pexels.com/photos/356378/pexels-photo-356378.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Imagem de um cachorro">
    </div>

    <!-- Seção de apresentação do site -->
    <section class="container my-5">
        <div class="row">
            <div class="col-md-6">
              <h1>Bem-vindo ao PetMedVida!</h1>
              <p>Com nosso sistema, você pode monitorar a saúde dos seus animais de estimação de forma fácil e eficiente. Adicione informações como peso, vacinas, exames e muito mais, e mantenha um histórico completo de saúde dos seus bichinhos. Além disso, nosso sistema permite que você compartilhe o perfil de seus animais com veterinários, petshops, condomínios e outros cuidadores.</p>
              <p>Para começar, faça login ou crie uma conta:</p>
              <a href="{% url 'login' %}" class="btn btn-dark">Login</a>
            </div>
          </div>
        </section>



{% endif %}

{% endblock %}