{% extends 'base.html' %}

{% block content %}

{% block styles %}

<style>
    .card-img-wrapper {
        position: relative;
        overflow: hidden;
    }

    .card-img-wrapper img {
        transition: transform 0.3s;
    }

    .card-img-wrapper:hover img {
        transform: scale(1.2);
    }
</style>

{% endblock %}

{% if animals %}

<div class="container">
    <h1 class="mt-4 mb-4">Pets Cadastrados</h1>
    <div class="row">
        
        {% for animal in animals %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-img-wrapper">
                        <a href="{% url 'animal_profile' animal.id %}">
                            {% if animal.ani_foto %}
                                <div class="image-wrapper">
                                    <img src="data:image/png;base64,{{ animal.ani_foto|base64 }}" alt="Foto do Animal" class="card-img-top">
                                </div>
                            {% else %}
                                <div class="image-wrapper">
                                    <img src="/media/default_pet_profile.png" alt="{{ animal.ani_nome }}" class="card-img-top">
                                </div>
                            {% endif %}
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><strong>Nome:</strong> {{ animal.ani_nome }}</h5>
                        <p class="card-text"><strong>Tutor:</strong> {{ animal.tutor.first_name }} {{ animal.tutor.last_name }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div> 
        <a href="{% url 'add_animal' %}" class="btn btn-dark">Cadastrar novo pet</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $(".card-img-wrapper").hover(function() {
            $(this).find("img").css("transform", "scale(1.2)");
        }, function() {
            $(this).find("img").css("transform", "scale(1)");
        });
    });
</script>

{% else %}
</br></br></br></br>
<div class="container">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Não há animais cadastrados!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <a href="{% url 'add_animal' %}" class="btn btn-dark">Cadastrar novo pet</a>
</div>
</div>

{% endif %}

{% endblock %}

    