{% extends 'base.html' %}

{% block content %}

    {% if animals %}
        <div class="container">
            <h1>Lista de Animais</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Tutor</th>
                        <th>Nome</th>
                        <th>Raça</th>
                        <th>Espécie</th>
                        <th>Sexo</th>
                        <th>Cor</th>
                        <th>Porte</th>
                        <th>RGA</th>
                        <th>Castrado</th>
                        <th>Anilha</th>
                        <th>Número do Chip</th>
                        <th>Data de Nascimento</th>
                        <th>Idade</th>
                        <th>Vacinado</th>
                        <th>Vermifugado</th>
                        <th>Observações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for animal in animals %}
                        <tr>
                            <td>
                                {% if animal.ani_foto %}
                                    <img src="{{ animal.ani_foto.url }}" alt="Foto do Animal" class="rounded-circle" style="width: 50px; height: 50px;">
                                {% else %}
                                    <i class="fas fa-paw"></i>
                                {% endif %}
                            </td>
                            <td>{{ animal.tutor }}</td>
                            <td><a href="{% url 'animal_profile' animal.id %}">{{ animal.ani_nome }}</a></td>
                            <td>{{ animal.ani_raça }}</td>
                            <td>{{ animal.ani_espec }}</td>
                            <td>{{ animal.ani_sexo }}</td>
                            <td>{{ animal.ani_cor }}</td>
                            <td>{{ animal.ani_porte }}</td>
                            <td>{{ animal.ani_rga }}</td>
                            <td>{{ animal.ani_castr }}</td>
                            <td>{{ animal.ani_anilha }}</td>
                            <td>{{ animal.ani_nmchip }}</td>
                            <td>{{ animal.ani_dnasc }}</td>
                            <td>{{ animal.ani_idade }}</td>
                            <td>{% if animal.ani_vacinado %}<i class="fas fa-check"></i>{% else %}<i class="fas fa-times"></i>{% endif %}</td>
                            <td>{% if animal.ani_vermifugado %}<i class="fas fa-check"></i>{% else %}<i class="fas fa-times"></i>{% endif %}</td>
                            <td>{{ animal.ani_obs }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h1>Não há animais cadastrados</h1>
    {% endif %}

{% endblock %}

