.nav-link-login {
    margin-bottom: -1px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.header {
    width: 100%;
    height: 33.33vh;
    background: url("https://images.pexels.com/photos/356378/pexels-photo-356378.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center fixed;
    background-size: cover;
  }


